.cell {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  line-height: 30px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.revealed {
  background-color: #ccc;
}

.board-row {
  display: flex;
}

.game-over {
  display: flex;
  flex-direction: column;
}

.game-over p {
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}